<launch>
    <node pkg="ros_lidar_examples" type="fake_scan_publisher.py" name="fake_scan_publisher" output="screen"/>
    <node pkg="ros_lidar_examples" type="obstacle_detector.py" name="obstacle_detector" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ros_lidar_examples)/rviz/default.rviz" required="true" output="log"/>
</launch>