<launch>
    <node pkg="ros_lidar_examples" type="lidar_filter.py" name="lidar_filter" output="screen"/>
    <node pkg="ros_lidar_examples" type="wall_tracker.py" name="wall_tracker" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ros_lidar_examples)/rviz/wall_tracker.rviz" required="true"/>
</launch>